<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sdkd.csse.dbcourses.dao.ITaskDao">
    <resultMap type="Task" id="TaskResult">
        <result property="id" column="id"/>
        <result property="mainid" column="mainid"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="approver" column="approver"/>
        <result property="createTime" column="createTime"/>
        <result property="submitter" column="submitter"/>
        <result property="approverTime" column="approverTime"/>
    </resultMap>
    <select id="selectAllTask" resultType="Task" >
        SELECT  id ,mainid,type,content,status,approver,submitter,createTime,approverTime
        FROM task
    </select>
    <select id="selectAllTaskknow" resultType="Task" parameterType="Map">
        SELECT  id ,mainid,type,content,status,approver,submitter,createTime,approverTime
        FROM task
        WHERE 1=1
        and type like '1_'
        <if test="type!=null">
            and type = #{type}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        <if test="approver!=null">
            and approver like #{approver}
        </if>
        <if test="submitter!=null">
            and submitter like #{submitter}
        </if>
        <if test="beforetime!=null">
            and createTime  &gt;  #{beforetime}
        </if>
        <if test="aftertime!=null">
            and createTime  &lt;  #{aftertime}
        </if>
        <if test="min!=null">
            <if test="max!=null">limit #{min},#{max}</if>
        </if>
    </select>
    <select id="selectAllTaskpara" resultType="Task" >
        SELECT  id ,mainid,type,content,status,approver,submitter,createTime,approverTime
        FROM task
        WHERE type like '2_'
        <if test="type!=null">
            and type = #{type}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        <if test="approver!=null">
            and approver like #{approver}
        </if>
        <if test="submitter!=null">
            and submitter like #{submitter}
        </if>
        <if test="beforetime!=null">
            and createTime  &gt;  #{beforetime}
        </if>
        <if test="aftertime!=null">
            and createTime  &lt;  #{aftertime}
        </if>
        <if test="min!=null">
            <if test="max!=null">limit #{min},#{max}</if>
        </if>
    </select>

    <update id="updateTask" parameterType="Map">
       UPDATE task
       SET status=1,approver=#{userName},approverTime=#{approverTime}
       WHERE id = #{taskid};
    </update>
    <update id="updateKnow" parameterType="Map">
       UPDATE knowledgepoint
       SET status=1
       WHERE id = #{mainid};
    </update>
    <update id="updatePara" parameterType="Map">
        UPDATE paragraph
        SET status=1
        WHERE id = #{mainid};
    </update>
    <update id="updateParaEdit" parameterType="Map">
       UPDATE paragraph A,task B ,(SELECT paragraph.paragraphContent buff
       FROM paragraph
       where paragraph.id=#{mainid}
       ) C
       SET A.paragraphContent=B.content,B.content=C.buff,B.status='1',B.approver=#{userName},B.approverTime=#{approverTime}
       where A.id=#{mainid}
       and B.id=#{taskid};
    </update>
    <delete id="deletePbyid" parameterType="Map">
    update paragraph A, (SELECT paragraphOrder,knowledgepointId FROM PARAGRAPH WHERE id=#{mainid}) B
    set		A.paragraphOrder = A.paragraphOrder - 1
    where A.paragraphOrder > B.paragraphOrder
    and A.knowledgepointId = B.knowledgepointId
    </delete>
    <delete id="deleteKbyid" parameterType="Map">
        UPDATE knowledgepoint SET status=2 where id=#{mainid}
    </delete>
</mapper>
