<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdkd.csse.dbcourses.dao.IUserDao">
    <resultMap type="User" id="UserResult">
        <result property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="passWord" column="passWord"/>
        <result property="nickName" column="nickName"/>
        <result property="power" column="power"/>
        <result property="remark" column="remark"/>
        <result property="userGroup" column="userGroup"/>
    </resultMap>

    <!-- 通用查询结果列-->


    <select id="selectAllByName" resultType="User" parameterType="Map">
        select userId, userName ,passWord , nickName, user.remark remark,power ,usergroup.`name` userGroup
        from USER,usergroup
        WHERE user.userGroup=usergroup.id
        AND userName like #{username}
        GROUP BY userGroup
    </select>

    <select id="selectUserById" resultType="User" parameterType="Integer">
        select userId, userName ,passWord , nickName, user.remark remark,power ,usergroup.`name` userGroup
        from USER,usergroup
        WHERE user.userGroup=usergroup.id
        And userId= #{ userId }
    </select>


    <select id="selectCount" resultType="Integer" parameterType="Map">
        select COUNT(userId) total
        from USER
        where 1=1
        <if test="userName!=null">
            and userName like #{userName}
        </if>
        <if test="nickName!=null">
            and nickName like #{nickName}
        </if>
        <if test="userGroup!=null">
            and userGroup =#{userGroup}
        </if>
    </select>

    <select id="selectAll" resultType="User" parameterType="Map">
        select userId, userName ,passWord , nickName, user.remark remark,power ,usergroup.name userGroup
        from USER,usergroup
        WHERE user.userGroup=usergroup.id
        <if test="userName!=null">
            and userName like #{userName}
        </if>
        <if test="nickName!=null">
            and nickName like #{nickName}
        </if>
        <if test="userGroup!=null">
            and user.userGroup =#{userGroup}
        </if>
        ORDER BY userId
        <if test="min!=null">
            <if test="max!=null">limit #{min},#{max}</if>
        </if>
    </select>

    <select id="selectChildren" resultType="User">
        select userId, userName ,passWord , nickName, user.remark remark,power ,usergroup.name userGroup
        from USER,usergroup
        WHERE user.userGroup=usergroup.id
        and user.userGroup =#{param1}
        and userId not in
        <foreach item="list" collection="param2" open="(" separator="," close=")">
            #{list}
        </foreach>
    </select>

    <select id="selectPassword" resultType="User" parameterType="String">
        select userId, userName ,passWord,power
        from USER
        where userName = #{userName}
    </select>
    <select id="selectByUserpower" resultType="User" parameterType="String">
       select DISTINCT A.userId, userName ,passWord , nickName, A.remark remark,power ,C.name userGroup
        FROM USER A,USERPOWER B,usergroup C
        WHERE A.USERID=B.USERID
        AND A.userGroup =C.id
        AND B.powercode= #{powerCode}
    </select>

    <delete id="deleteUsersBatch" parameterType="Integer">
        DELETE FROM USER WHERE userId IN
        <foreach item="list" collection="array" open="(" separator="," close=")">
            #{list}
        </foreach>
    </delete>
    <update id="updateUser"  parameterType="Map" >
        UPDATE user SET nickName=#{nickName} ,power=#{power},userGroup=#{userGroup},remark=#{remark}
        WHERE userId =#{userId}
    </update>
    <insert id="insertUser" parameterType="Map">
    insert into user(userName,passWord,nickName)
    VALUES (#{username},#{password},#{nickname})
    </insert>
    <select id="selectadminPower" parameterType="String" resultType="String">
         SELECT A.powercode
         from userpower A,user B
         WHERE A.userid=B.userId
         AND B.userName=#{userName}
         AND A.powercode='9999999'
    </select>
</mapper>